version: '3.8'
services:
  backend:
    build: ./backend
    ports:
      - "5050:5050"
    volumes:
      - ./backend/models:/app/models
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    environment:
      - VITE_API_URL=http://localhost:5050
